 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .cube{
    position:relative;
 }
 .cube1{
    margin:10px 0px 0px 10px;
    width: 400px;
    height: 150px;
    border: 3px solid #1fc42c;
 }

 .cube2{
    margin:10px 0px 0px 10px;
    position: relative;
    border: 3px solid #f51010;
    width: 150px;
    height: 400px;
    bottom: 160px;
    left:400px;
 }
 .cube3{
    margin:10px 0px 0px 10px;
    border: 3px solid #000;
    width: 150px;
    height:400px;
    position: relative;
    bottom:420px;
 }
.cube4{
    margin:10px 0px 0px 10px;
    width: 400px;
    height: 150px;
    border: 3px solid #148cbb;
    position: relative;
    bottom: 580px;
    left:150px;
}
.cube5{
    margin:10px 0px 0px 10px;
    border: 2px solid #d8f000;
    width: 250px;
    height: 250px;
    position:relative;
    bottom:263px;
    left:-13px;
}

