
 .patker{
    margin:0;
    padding 0;
    box-sizing: border-box;
 }
 .patker1{
    width:200px;
    height: 200px;
    border: 4px solid #36add1;
    border-radius: 0% 50%;
 }
 .patker2{
    border: 5px dashed #000;
    width: 90px;
    height:90px ;
    background-color: red;
    border-radius: 100% 100%;
 }