*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
    padding:20px;
    display:grid;
    gap:10px;
    grid-template-columns:2fr 4fr; 
    grid-template-rows:1fr 2fr 3fr 3fr 1fr;
    background-color:#FDFFE9;
    width:400px;
    height:300px;
  }
  .r1{
    background-color:#ADB274;
    grid-column:1/3;
    height:30px;
  }
  .r2{
    background-color:#ADB274; 
    width:80px;
grid-row:2/5;
  }
  .r3{
   background-color:#ADB274;
    width:270px;
  }
  .r4{
     background-color:#ADB274;
  }
  .r5{
     background-color:#ADB274;
  }
  .r6{padding:5px;
    height:30px;
     background-color:#ADB274;
    grid-column:1/3;
  }
  .a1{
    position:relative;
    left:39%;
    width:20px;
    aspect-ratio:1/1;
    background-color:#555A2A;
  }
  .a2{
    position:relative;
    left:47%;
    bottom:100%;
    width:20px;
    aspect-ratio:1/1;
    background-color:#555A2A;
  }
  .a3{
    position:relative;
    bottom:198%;
    left:55%;
    width:20px;
    aspect-ratio:1/1;
    background-color:#555A2A;
  }
  .a5{
     position:relative;
  left:5px;
    bottom:50%;
    width:20px;
    aspect-ratio:1/1;
    background-color:#555A2A;
  }
    .a6{
     position:relative;
    left:93%;
      top:15%;
    width:20px;
    aspect-ratio:1/1;
    background-color:#555A2A;
  }