.box{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #62374e;
}
.box1{
    position: absolute;
    top:15%;
    left: 15%;
    width: 50px;
    height: 50px;
   background-color: #fdc57b;
}
.box2{
    position: absolute;
    top:15%;
    left: 65%;
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
}
.box3{
    position: absolute;
    top:65%;
    left: 15%;
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
}
.box4{
    position: absolute;
    top:65%;
    left: 65%;
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
}