 div{
width: 200px;
height: 200px;
border: 1px solid #000;

 }
.cube{
    color: red;
    font-size: 24px;
}
#cube1{
    background: green;
}
#cube2{
    background: red;
}
#cube3{
    background: yellow;
}
.text-center{
    text-align: center;
}
#cube4{
    background: blue;
}
#cube1{
    background:#566 ;
}
input[type="text"]{
    border: 1px solid #000;;
}
input[type^="t"]{
    border: 1px solid blue;
}
input[type$="l"]{
    border: 1px solid greenyellow;
}
input[type*="mail"]{
    border: 1px solid pink;
}
a[href*="Github"]{
    background: red;
}
*{
    
}
div{
    border-bottom: 10px solid #000;
    border-top:10px dashed blueviolet;
     border-left:20px solid rgb(34, 133, 136);
     border-right:10px solid #667;
    width:200px;
    height: 200px;
    box-sizing: border-box;
    margin:30px;
    padding:20px;
    border-top-left-radius: 100px ;
    
}