
*{
    margin:0;
    padding:0;
box-sizing: border-box;
}

.container{
    font-family:"Roboto",sans-serif;
    padding: 20%;
    background-color: black;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap:20px;
}

.text{
display: flex;
justify-content: end;
align-items: end;
   color:azure;
    font-size: 100px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size:35px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.c3{
    color: black;
    font-weight: 300;
    background-color: rgb(146, 146, 146);
}
.c5{
    font-weight: 300;
    color: white;
    background-color: rgb(223, 158, 18);
}
.c12{
    font-weight: 300;
    color: white;
    background-color: rgb(26, 26, 26);
}
.big{
  padding:40px;
grid-column: 1/3;
border-radius:100px;
   font-weight: 300;
   font-size: 35px;
    color: white;
    background-color: rgb(26, 26, 26);
}
  