*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    position:relative;
}
.circle1{
    margin: 10px 0px 0px 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
}
.circle2{
     margin: 10px 0px 0px 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    position: relative ;
    bottom:10px;
}
.circle3{
     margin: 10px 0px 0px 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    position: relative;
    left:200px;
    bottom:420px;
}
.circle4{
     margin: 10px 0px 0px 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    position: relative;
    left:200px;
    bottom:430px;
}
.circle5{
    background-color: red;
    margin: 10px 0px 0px 10px ;
    position: relative;
    bottom: 740px;
    left:100px;
    border-radius: 100% 0%;
    border: 3px solid #000;
    width: 100px;
    height:100px;
}
.circle6{
    background-color: red;
    margin: 10px 0px 0px 10px ;
    position: relative;
    bottom: 750px;
    left:100px;
    border-radius: 0% 100%;
    border: 3px solid #000;
    width: 100px;
    height:100px;
}
.circle7{
    background-color: red;
    margin: 10px 0px 0px 10px ;
    position: relative;
    bottom: 860px;
    left:200px;
    border-radius: 100% 0%;
    border: 3px solid #000;
    width: 100px;
    height:100px;
}
.circle8{
    background-color: red;
    position: relative;
    bottom:1060px;
    left:210px;
    border-radius: 0% 100%;
    border: 3px solid #000;
    width: 100px;
    height:100px;
}
