 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.box{
    
    position: relative;
}
 .box1{
margin:10px 0px 0px 10px;
border-right:1px solid black;
border-bottom: 1px solid #000;
 width: 200px;
 height:200px;
 border-radius:0% 0% 100% 0%;

 
 }
 .box2{
margin:10px 0px 0px 10px;
 border-bottom: 1px solid #000;
 border-left: 1px solid #000;
 width: 200px;
 height:200px;
 border-radius: 0% 0% 0% 100%;
 position: relative;
 left:200px;
 bottom:210px;
 }
 .box3{
margin:10px 0px 0px 10px;
 border-right: 1px solid #000;
 border-top: 1px solid #000;
 width: 200px;
 height:200px;
 border-radius:0% 100% 0% 0%;
 position: relative;
 bottom: 220px;
 }
 .box4{
margin:10px 0px 0px 10px;
 border-bottom: 1px solid #ffffff;
 border-top: 1px solid #000;
 border-left:1px solid #000;
 width: 200px;
 height:200px;
 border-radius:100% 0% 0% 0%;
 position: relative;
 left:200px;
 bottom:430px;
 }