.box{position: relative;
    width: 400px;
    height: 300px;
background-color: #5d3a3a;
}
.box1{
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    height: 200px;
    border: 1px solid #b5e0ba;
    background-color:#b5e0ba ;
}