 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .box{
   position: relative;
 }
 .box1{
    position: relative;
margin:10px 0px 0px 10px;
border: 1px solid #e71414;
background-color: #e71414;
width: 200px;
height: 200px;
 }
 .box2{
position: relative;
left:220px;
bottom: 210px;
margin:10px 0px 0px 10px;
border: 1px solid #07a014;
background-color:  #07a014;
width: 200px;
height: 200px;
 }

 .box3{
position: relative;
bottom: 200px;
margin:10px 0px 0px 10px;
border: 1px solid #3a89e4;
background-color: #1f8ee9;
width: 200px;
height: 200px;
 }
 .box4{
    position: relative;
left:220px;
bottom: 410px;
margin:10px 0px 0px 10px;
border: 5px solid #000000;
width: 200px;
height: 200px;
 }
 
 .round{
    border: 5px solid #f0ec0a;
    width: 80px;
    height: 80px;
    border-radius:100% ;
    margin:50px;
 }